@charset "UTF-8";

form {
  width: 650px;
  height: auto;
  margin: auto;
}
input,
textarea {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13pt;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}
input:hover,
textarea:hover {
  background-color: #dddddd;
}
legend {
  color: #888888;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 13pt;
}
fieldset {
  border-color: #cececece;
  margin: 20px;
}
fieldset#sexo {
  width: 150px;
}
fieldset#mesagem {
  border-color: black;
}
fieldset#usuario {
  background: url('../imagens/icone-contato.png') no-repeat 95% 95%;
}
fieldset#endereco {
  background: url('../imagens/icone-endereco.png') no-repeat 95% 95%;
}
fieldset#pedido {
  background: url('../imagens/icone-pagamento.png') no-repeat 95% 95%;
}
fieldset#mensagem {
  background: url('../imagens/icone-mensagem.png') no-repeat 95% 95%;
}
