@charset "UTF-8";

section#conteudo {
  width: 1000px;
  margin: auto;
}
iframe#frame-spec{
  width: 404px;
  height: 280px;
  border: none;
  overflow: hidden;
}
iframe#frame-specs::-webkit-scrollbar{
  display: none;
}
p em{
  text-decoration: underline;
  text-decoration: bolder;
}
